<section id="cta2" class="wrapper style3">
    <div class="container">
        <header>
            <img src="/website/images/ACTA.svg" width="200" height="120" />  
            <img src="/website/images/han.svg" width="200" height="120" />  
            <img src="/website/images/han-groningen.svg" width="200" height="120" />  
            <img src="/website/images/hu.svg" width="150" height="200" />   
            <img src="/website/images/inholland.svg" width="200" height="120" />   
            <img src="/website/images/radboud.svg" width="200" height="120" />  
            <img src="/website/images/umcg.png" width="200" height="120" />         
        </header>
    </div>
</section>
